exclude: >
  (?x)^(
      \.eggs|
      \.git|
      \.mypy_cache|
      \.tox|
      \.pyre_configuration|
      \.venv|
      build|
      dist|
      src/pythonfinder/_vendor/.*\.py
  )$

repos:
  - repo: https://github.com/ambv/black
    rev: 19.3b0
    hooks:
      - id: black

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.1
    hooks:
      - id: flake8

  - repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.0
    hooks:
      - id: seed-isort-config

  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.19
    hooks:
      - id: isort
