include README.rst LICENSE.txt HISTORY.txt
recursive-include src/pythonfinder/_vendor *LICENSE* *.txt Makefile
include CHANGELOG.rst
include pyproject.toml

exclude .pre-commit-config.yaml
exclude .editorconfig
exclude .coveragerc
exclude .travis.yml
exclude azure-pipelines.yml
exclude tox.ini
exclude appveyor.yml
exclude Pipfile*
exclude README.md

recursive-include docs Makefile *.rst *.py *.bat
recursive-exclude .azure-pipelines *.yml
recursive-exclude docs requirements*.txt

prune .github
prune docs/build
prune news
prune tasks
prune tests
