[packages]

[dev-packages]
flake8 = "*"
sphinx-click = "*"
pytest = "*"
mock = "*"
sphinx = "*"
twine = "*"
pytest-xdist = "*"
invoke = "*"
crayons = "*"
pythonfinder = {path = ".",editable = true}
sphinx-rtd-theme = "*"
rope = "*"
black = {version = "*",markers = "python_version>='3.6'"}
parver = "*"
towncrier = "*"

[scripts]
black = "python -m black src/pythonfinder"
draft = "inv release.generate-changelog --draft"
changelog = "inv release.generate-changelog --commit"
bump = "inv release.bump-version"
build = "inv release.build-dists"
upload = "inv release.upload-dists"
tag = "inv release.tag-version"
docs = "sphinx-apidoc --ext-autodoc --ext-viewcode --ext-intersphinx -o docs/ -A 'Dan Ryan <dan@danryan.co>' -R 1.0.0 -V 1.0 -e -M -F src/pythonfinder"
mdchangelog = "pandoc CHANGELOG.rst -f rst -t markdown -o CHANGELOG.md"

[pipenv]
allow_prereleases = true
