[packages]

[dev-packages]
pythonfinder = {path = ".", editable = true}
invoke = "*"
crayons = "*"
parver = "*"
towncrier = "*"
mock = "*"
pytest = "*"
pytest-cov = "*"
pytest-timeout = "*"
pytest-xdist = "*"
sphinx = "*"
sphinx-click = "*"
sphinx-rtd-theme = "*"
sphinx-autodoc-types = "*"
readme_renderer = {version = "*", extras = ["md"]}
twine = "*"
flake8 = "*"
black = {version = "*", markers = "python_version>='3.6'"}
isort = "*"
rope = "*"
mypy = {version = "*", markers = "python_version>='3.4'"}
mypy_extensions = "*"
typed-ast = {version = "*", markers = "python_version>='3.3'"}
lxml = "*"

[scripts]
black = "python -m black src/pythonfinder"
draft = "inv release.generate-changelog --draft"
changelog = "inv release.generate-changelog --commit"
bump = "inv release.bump-version"
build = "inv release.build-dists"
upload = "inv release.upload-dists"
tag = "inv release.tag-version"
docs = "sphinx-apidoc --ext-autodoc --ext-viewcode --ext-intersphinx -o docs/ -A 'Dan Ryan <dan@danryan.co>' -R 1.0.0 -V 1.0 -e -M -F src/pythonfinder"
mdchangelog = "pandoc CHANGELOG.rst -f rst -t markdown -o CHANGELOG.md"
mypy = "mypy src/pythonfinder"

[pipenv]
allow_prereleases = true
