[packages]
bumpversion = "*"

[dev-packages]
"flake8" = "*"
sphinx-click = "*"
pytest = "*"
mock = "*"
sphinx = "*"
twine = "*"
pytest-xdist = "*"
invoke = "*"
crayons = "*"
"e1839a8" = {path = ".", editable = true}
sphinx-rtd-theme = "*"
rope = "*"
black = "*"

[scripts]
black = "python -m black src/pythonfinder"

[pipenv]
allow_prereleases = true
